.chatroom {
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  border: 2px solid #B8CCC9;
  border-radius: 5px;

  @at-root #{&}__content {
    display: flex;
    flex: 1;
    align-items: stretch;
    flex-direction: column;
    justify-content: space-between;
  }
}
