.form {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  border-top: 1px solid #ccc;

  @at-root #{&}__input {
    padding: 15px;
    width: 90%;
    border: 0;
  }

  @at-root #{&}__input--outline0 {
    outline: 0;
  }
}
